@use '../constants/colors';
@use '../mixins/positions';
@use '../mixins/flexbox';
@use '../mixins/responsive';

.blog {
  padding-bottom: 80px;

  .rolling-container {
    display: flex;
    overflow: hidden;

    &:hover {
      .rolling-wrapper {
        animation-play-state: paused;
      }
    }
  }

  .rolling-wrapper {
    &.real {
      animation: rolling-left-1 60s linear infinite;
    }

    &.clone {
      animation: rolling-left-2 60s linear infinite;
    }

    ul {
      @include flexbox.flexbox(start);
    }
  }

  .rolling-list {
    height: 100%;
  }

  .rolling-item {
    width: 455px;
    height: 100%;
    flex-shrink: 0;
    border: 1px solid colors.$border;
    border-radius: 18px;
    background-color: colors.$white;
    padding: 30px;
    margin-right: 20px;

    .title {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .description {
      font-size: 16px;
      display: -webkit-box;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
    }

    .tag-list {
      @include flexbox.flexbox(start);
      flex-wrap: wrap;
      margin-bottom: 10px;
      gap: 5px;
    }

    .tag {
      font-size: 14px;

      &:nth-last-child {
        margin-right: 0;
      }
    }

    &:hover,
    &:active,
    &:focus {
      border-color: colors.$mint;

      .title {
        color: colors.$mint;
      }
    }
  }

  @include responsive.responsive(T) {
    padding-bottom: 70px;
  }

  @include responsive.responsive(M) {
    padding-bottom: 54px;

    .rolling-item {
      width: 290px;
      padding: 20px 15px;
      margin-right: 10px;

      .title {
        font-size: 18px;
        margin-bottom: 8px;
      }

      .description {
        font-size: 14px;
      }

      .tag-list {
        margin-bottom: 8px;
        gap: 4px;
      }

      .tag {
        font-size: 12px;
      }
    }
  }
}

@keyframes rolling-left-1 {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%);
  }
  50.01% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes rolling-left-2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
