@use '../mixins/responsive';

.main-section {
  margin-bottom: 130px;

  @include responsive.responsive(T) {
    margin-bottom: 110px;
  }

  @include responsive.responsive(M) {
    margin-bottom: 84px;
  }
}
