@use '../constants/colors';
@use '../mixins/responsive';
@use '../mixins/flexbox';

.skill {
  &-tag {
    &-list {
      @include flexbox.flexbox(start);
      gap: 20px;
      margin-bottom: 20px;
      overflow-x: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    &-item {
      font-size: 16px;
    }
  }

  &-main {
    &-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: -10px;
    }

    &-item {
      border: 1px solid colors.$border;
      border-radius: 10px;
      padding: 24px;
      margin: 10px;

      .title {
        font-size: 24px;
        margin-bottom: 10px;
      }

      .item {
        @include flexbox.flexbox(start, start);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.8;

        .fa-check {
          font-size: 25px;
          color: colors.$mint;
          margin: 7px 7px 0 0;
        }
      }
    }
  }

  @include responsive.responsive(T) {
    &-tag-list {
      gap: 15px;
    }
  }

  @include responsive.responsive(M) {
    &-tag {
      &-list {
        gap: 5px;
      }

      &-item {
        font-size: 13px;
      }
    }

    &-main {
      &-list {
        grid-template-columns: repeat(1, 1fr);
        margin: -5px;
      }

      &-item {
        padding: 15px;
        margin: 5px;

        .title {
          font-size: 18px;
        }

        .item {
          font-size: 14px;

          .fa-check {
            font-size: 16px;
            margin-right: 6px;
          }
        }
      }
    }
  }
}
