@use '../constants/colors';
@use '../constants/typography';
@use '../mixins/responsive';

.main-section-header {
  margin-bottom: 28px;

  .title {
    font-size: 24px;
    font-family: typography.$font-code;
    margin-bottom: 3px;

    &::after {
      content: '';
      display: inline-block;
      width: 12px;
      height: 3px;
      margin-left: 2px;
      background-color: colors.$mint;
    }
  }

  .summary {
    color: colors.$tertiary;
    font-size: 16px;
  }

  @include responsive.responsive(M) {
    margin-bottom: 20px;

    .title {
      font-size: 20px;
      margin-bottom: 3px;
    }

    .summary {
      font-size: 14px;
    }
  }
}
