@use '../constants/colors';
@use '../mixins/flexbox';
@use '../mixins/responsive';

%tag-base {
  @include flexbox.inline-flexbox;
  background-color: colors.$mint-light;
  color: colors.$mint;
  padding: 5px 10px;
  font-weight: 500;
  border-radius: 15px;
  line-height: 1.2;
  font-size: 14px;

  @include responsive.responsive(M) {
    padding: 3px 7px;
    font-size: 12px;
  }
}

.tag {
  @extend %tag-base;
}
