@use '../constants/colors';
@use '../constants/dimensions';
@use '../mixins/responsive';
@use '../mixins/flexbox';

.global-footer {
  height: dimensions.$footer-height-lg;
  position: relative;
  transform: translateY(-100%);
  @include flexbox.flexbox(center);

  p {
    text-align: center;
    color: colors.$tertiary;
    font-weight: 500;
  }

  @include responsive.responsive(T) {
    height: dimensions.$footer-height-md;
  }

  @include responsive.responsive(M) {
    height: dimensions.$footer-height-sm;

    p {
      font-size: 13px;
    }
  }
}
