@use '../constants/colors';
@use '../mixins/flexbox';
@use '../mixins/responsive';
@use '../constants/typography';
@use '../constants/dimensions';
@use '../constants/z-indexes';

.global-header {
  width: 100%;
  height: dimensions.$gnb-height-lg;

  .header {
    position: fixed;
    z-index: z-indexes.$gnb-level;
    width: 100%;
    top: 0;
    left: 0;
    background-color: colors.$white;

    &-wrapper {
      @include flexbox.flexbox(between);
      height: dimensions.$gnb-height-lg;
    }

    &-title {
      .logo {
        font-size: 24px;
        font-family: typography.$font-code;

        a::after {
          display: inline-block;
          content: '';
          width: 12px;
          height: 3px;
          margin-left: 2px;
          background-color: colors.$mint;
        }
      }
    }

    &-tab {
      display: block;
      &-list {
        @include flexbox.flexbox;
        gap: 34px;
      }

      &-item {
        &.is-active {
          button {
            color: colors.$mint;
          }
        }

        button {
          display: block;
          font-size: 18px;
          font-family: typography.$font-code;

          &:hover {
            color: colors.$mint;
          }
        }
      }
    }
  }

  @include responsive.responsive(T) {
    .header-tab-list {
      gap: 30px;
    }
  }

  @include responsive.responsive(M) {
    height: dimensions.$gnb-height-sm;

    .header {
      position: static;

      &-wrapper {
        justify-content: center;
        height: dimensions.$gnb-height-sm;
      }

      &-tab {
        display: none;
      }

      &-title {
        .logo {
          font-size: 20px;
        }
      }
    }
  }
}
